/*Importamos fuentes Nunito y Fredoka para el sitio, y KG Be Still and Know para el nombre del sitio*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* @import url('../img/KGBeStillAndKnow.ttf'); */

/*Importamos los css auxiliares de variables y normalización*/

@import url(./normalize.css);
@import url(./variables.css);
@import url(./faq.css);

@font-face {
  font-family: "TdH";
  src: url(../img/KGBeStillAndKnow.ttf);
}

.container {
  max-width: 1200px;
}
/*ESTILOS HEADER Y FOOTER*/

.header_container {
  background-color: var(--aqua);
}

.header_navbar {
  padding: 20px 0px 0px 0px;
  position: relative;
  top: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar_logo img {
  max-width: 130px;
}

.navbar_links {
  display: flex;
  justify-content: space-evenly;
  font-size: var(--text-large);
  font-weight: 700;
}

.navbar_links li {
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.navbar_links li:hover {
  background-color: var(--lemon);
}

.navbar_button {
  color: white;
  font-size: var(--text-large);
  font-weight: 600;
  background-color: var(--red);
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.navbar_button:hover {
  background-color: var(--dark-red);
  color: white;
}

.navbar_fondo {
  position: absolute;
}

footer {
  margin-top: 0;
}

.footer {
  background-color: var(--aqua);
  padding: 30px 40px 30px 40px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer_logo img {
  width: 110px;
}

.footer_menu > p,
.footer_rrss > p {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.footer_links li a {
  font-size: var(--text-medium);
  line-height: 1.5rem;
}

.footer_rrss_iconos {
  display: flex;
  gap: 2rem;
}

.footer > p {
  font-size: var(--text-regular);
  margin-top: 2rem;
  text-align: center;
}

/*Estilos de iconify para iconos de redes sociales*/
.gg--facebook {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.198 21.5h4v-8.01h3.604l.396-3.98h-4V7.5a1 1 0 0 1 1-1h3v-4h-3a5 5 0 0 0-5 5v2.01h-2l-.396 3.98h2.396z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.bi--instagram {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8 0C5.829 0 5.556.01 4.703.048C3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7C.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297c.04.852.174 1.433.372 1.942c.205.526.478.972.923 1.417c.444.445.89.719 1.416.923c.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417c.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046c.78.035 1.204.166 1.486.275c.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485c.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598c-.28.11-.704.24-1.485.276c-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598a2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485c-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486c.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276c.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92a.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217a4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334a2.667 2.667 0 0 1 0-5.334'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.banner img {
  width: 100%;
  margin-top: -5rem;
  position: absolute;
  z-index: 0;
}

.banner_content {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.banner_innerContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}

.banner_title {
  font-family: var(--headings-font);
  font-size: var(--heading2);
  font-weight: 700;
  color: var(--black-text);
  line-height: var(--heading1);
  text-align: right;
  margin-bottom: var(--spacing24);
  margin-top: var(--spacing24);
}

.banner_text {
  width: 60%;
  font-size: var(--heading5);
  font-weight: 400;
  color: var(--black-text);
  line-height: 2.5rem;
  text-align: right;
}

.banner_nombreWeb {
  font-family: var(--nombre-font);
  font-weight: 500;
}

.conoceBiblio {
  background-color: var(--light-lemon);
  padding-top: 205px;
  padding-bottom: var(--spacing64);
}

.conoceBiblioContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.conoceTitulo {
  text-align: center;
  font-family: var(--headings-font);
  font-weight: 600;
  font-size: var(--heading2);
  margin-bottom: var(--spacing40);
  margin-top: var(--spacing24);
}

.buscarContainer {
  position: relative;
}

.buscarContainer input[type="text"] {
  padding-right: var(
    --spacing40
  ); /* Ajusta el espacio a la derecha para el icono */
}

.buscarContainer .iconamoon--search-light {
  position: absolute;
  top: 50%;
  right: 1rem; /* Ajusta la posición del icono */
  transform: translateY(-50%);
  cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}

.formBusqueda input {
  font-family: var(--base-font);
  font-size: var(--text-large);
  border: 1px solid #cdcdcd;
  border-radius: 1rem;
  padding: var(--spacing10);
  width: 50vw;
}

.iconamoon--search-light {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23cdcdcd' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314'/%3E%3C/svg%3E");
}

.conoceBajada {
  text-align: center;
  font-size: var(--heading5);
  margin-top: var(--spacing40);
  margin-bottom: var(--spacing64);
}

.librosSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--spacing64);
}

.librosSliderTitulo {
  font-family: var(--headings-font);
  font-size: 2rem;
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: var(--spacing48);
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
}

.slide img {
  width: 15vw;
  height: auto;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 2;
}

.slider .prev {
  left: 5rem;
  font-size: var(--heading3);
}

.slider .next {
  right: 5rem;
  font-size: var(--heading3);
}

.botonNaranja {
  display: block;
  width: fit-content;
  text-align: center;
  color: var(--black-text);
  font-size: var(--heading5);
  font-weight: 600;
  background-color: var(--orange);
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.botonNaranja:hover {
  background-color: var(--red);
}

.contactanos {
  background-color: var(--light-red);
  padding-top: var(--spacing64);
  padding-bottom: var(--spacing64);
}

.contactanosPage {
  background-color: var(--ultralight-red);
  padding-top: var(--spacing64);
  padding-bottom: var(--spacing64);
}

.contactanosContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contactanosTitulo {
  text-align: center;
  font-family: var(--headings-font);
  font-weight: 600;
  font-size: var(--heading2);
  margin-bottom: var(--spacing40);
}

.contactanosBajada {
  text-align: center;
  font-size: var(--heading5);
}

.contactanosCampos {
  margin-top: var(--spacing40);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 70%;
}

.contactanosCampos label {
  font-size: var(--heading6);
}

.contactanosCampos input {
  border: none;
  border-radius: 0.5rem;
  padding: var(--spacing10);
  border: 1px solid #cdcdcd;
}

.contactanosCampos textarea {
  border: none;
  border-radius: 0.5rem;
  padding: var(--spacing10);
  border: 1px solid #cdcdcd;
}

.contactanosNomEmail {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.contactanosNombre,
.contactanosEmail {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contactanosMensaje {
  display: flex;
  flex-direction: column;
}

.contactanosForm {
  width: 100%;
}

.contactanosForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contactanosEnviar input {
  width: fit-content;
  text-align: center;
  color: white;
  background-color: var(--red);
  font-family: var(--base-font);
  font-size: var(--heading6);
  font-weight: 600;
  border: none;
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  border-radius: 15px;
  margin-top: var(--spacing48);
}

.contactanosEnviar input:hover {
  background-color: var(--dark-red);
  cursor: pointer;
}

.contactanos_imagen img {
  width: 15vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
