/*Importamos fuentes Nunito y Fredoka para el sitio, y KG Be Still and Know para el nombre del sitio*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* @import url('../img/KGBeStillAndKnow.ttf'); */

/*Importamos los css auxiliares de variables y normalización*/

@import url(./normalize.css);
@import url(./variables.css);
@import url(./general.css);
@import url(./faq.css);
@import url(./biblioteca.css);
@import url(./detallelibro.css);
@import url(./contacto.css);
@import url(./recursosdidacticos.css);

@font-face {
  font-family: "TdH";
  src: url(../img/KGBeStillAndKnow.ttf);
}

/*ESTILOS HEADER Y FOOTER*/
.headerAdmin {
  background-image: url("../img/headerfooter/hf_fondoheadernubeAdmin.png");
  background-color: var(--aqua);
  background-size: cover;
  background-repeat: repeat-x;
  /*  margin-bottom:var(--spacing128); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.header_container {
  background-color: var(--aqua);
  /*  margin-bottom:var(--spacing128); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem;
}

.header_container2 {
  background-image: url("../img/headerfooter/hf_fondoheadernube.png");
  background-size: cover;
  background-repeat: repeat-x;
  /*  margin-bottom:var(--spacing128); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.header_navbar {
  /*  padding: 20px 0px 0px 0px; */
  position: relative;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo img {
  max-width: 130px;
}

.navbar_links {
  display: flex;
  justify-content: space-between;
  font-size: var(--text-xlarge);
  font-weight: 700;
  text-align: center;
}

.navbar_links li {
  padding: 10px 20px 10px 20px;
  border-radius: 15px;

  transition: background-color 0.3s ease;
}

.navbar_links li:hover {
  background-color: var(--lemon);
}

.navbar_button {
  color: white;
  font-size: var(--text-large);
  font-weight: 600;
  background-color: var(--red);
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  margin-left: var(--spacing24);
}

.navbar_button:hover {
  background-color: var(--dark-red);
  color: white;
}

.navbar_fondo {
  position: absolute;
}

.abrir_menu {
  display: none;
  background-color: transparent;
  margin-left: 4rem;
}

.cerrar_menu {
  display: none;
  background-color: transparent;
  margin-right: 1.5rem;
}

.mingcute--menu-fill {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='white' d='M20 17.5a1.5 1.5 0 0 1 .144 2.993L20 20.5H4a1.5 1.5 0 0 1-.144-2.993L4 17.5zm0-7a1.5 1.5 0 0 1 0 3H4a1.5 1.5 0 0 1 0-3zm0-7a1.5 1.5 0 0 1 0 3H4a1.5 1.5 0 1 1 0-3z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-park-solid--close-one {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cmask id='ipSCloseOne0'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%23fff' stroke='%23fff' d='M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20Z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M29.657 18.343L18.343 29.657m0-11.314l11.314 11.314'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='white' d='M0 0h48v48H0z' mask='url(%23ipSCloseOne0)'/%3E%3C/svg%3E");
}

footer {
  position: relative;

  bottom: 0;
}

.footer {
  background-color: var(--aqua);
  padding: var(--spacing36) 0 var(--spacing36) 0;
}

.footer_container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  /*  margin: 0 auto; */
}

.footer_logo img {
  width: 15vw;
}

.footer_menu > p,
.footer_rrss > p {
  font-size: var(--heading6);
  font-weight: bolder;
  margin-bottom: 1rem;
}

.footer_links {
  display: flex;
  flex-direction: column;
}

.footer_links li a {
  font-size: var(--heading6);
  line-height: var(--heading3);
}
.footer_rrss_iconos {
  display: flex;
  gap: 2rem;
  font-size: var(--heading4);
}

.footer > p {
  font-size: var(--text-regular);
  margin-top: 2rem;
  text-align: center;
}

/*Estilos de iconify para iconos de redes sociales*/
.gg--facebook {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.198 21.5h4v-8.01h3.604l.396-3.98h-4V7.5a1 1 0 0 1 1-1h3v-4h-3a5 5 0 0 0-5 5v2.01h-2l-.396 3.98h2.396z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.bi--instagram {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M8 0C5.829 0 5.556.01 4.703.048C3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7C.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297c.04.852.174 1.433.372 1.942c.205.526.478.972.923 1.417c.444.445.89.719 1.416.923c.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417c.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046c.78.035 1.204.166 1.486.275c.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485c.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598c-.28.11-.704.24-1.485.276c-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598a2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485c-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486c.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276c.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92a.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217a4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334a2.667 2.667 0 0 1 0-5.334'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/*Estilos banner*/

/* .banner img {
 
  position: absolute;
  z-index: 0;
}
 */

.banner {
  background-image: url("../img/misc/fondo_banner-06.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*  width: 100vw; */
  background-color: var(--aqua);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bannerTucan {
  flex: 1;
  max-width: 50%;
}

.bannerContenido {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 1;
  padding-bottom: var(--spacing48);
  padding-left: var(--spacing96);
  max-width: 50%;
}
.banner_title {
  font-family: var(--headings-font);
  font-size: var(--heading2);
  font-weight: 700;
  color: var(--black-text);
  line-height: var(--heading1);
  text-align: right;
  margin-bottom: var(--spacing24);
  margin-top: var(--spacing48);
  padding-right: 4vw;
}

.banner_text {
  font-size: var(--heading5);
  font-weight: 400;
  color: var(--black-text);
  line-height: var(--heading3);
  text-align: right;
  padding-right: 4vw;
}

.banner_nombreWeb {
  font-family: var(--nombre-font);
  font-weight: 500;
}

/*Conoce nuestra Biblioteca*/

.conoceBiblio {
  background-color: var(--light-lemon);
  padding-top: var(--spacing96);
  padding-bottom: var(--spacing96);
  z-index: 2;
}

.conoceBiblioContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conoceTitulo {
  text-align: center;
  font-family: var(--headings-font);
  font-weight: 600;
  font-size: var(--heading2);
  margin-bottom: var(--spacing40);
}

.buscarContainer {
  position: relative;
}

.buscarContainer input[type="text"] {
  padding-right: var(
    --spacing40
  ); /* Ajusta el espacio a la derecha para el icono */
}

.buscarContainer .iconamoon--search-light {
  position: absolute;
  top: 50%;
  right: 1rem; /* Ajusta la posición del icono */
  transform: translateY(-50%);
  cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}

.formBusqueda input {
  font-family: var(--base-font);
  font-size: var(--text-large);
  border: 1px solid #cdcdcd;
  border-radius: 1rem;
  padding: var(--spacing10);
  width: 50vw;
}

.iconamoon--search-light {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23cdcdcd' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314'/%3E%3C/svg%3E");
}

.conoceBajada {
  text-align: center;
  font-size: var(--heading5);
  margin-top: var(--spacing40);
  margin-bottom: var(--spacing64);
}

.librosSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  margin-left: auto;
  margin-right: auto; */
  margin-bottom: var(--spacing64);
}

.librosSliderTitulo {
  font-family: var(--headings-font);
  font-size: 2rem;
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: var(--spacing48);
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
}

.slide img {
  width: 15vw;
  height: auto;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 2;
}

.slider .prev {
  left: 5rem;
  font-size: var(--heading3);
}

.slider .next {
  right: 5rem;
  font-size: var(--heading3);
}

.botonNaranja {
  display: block;
  width: fit-content;
  text-align: center;
  color: var(--black-text);
  font-size: var(--heading5);
  font-weight: 700;
  background-color: var(--orange);
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.botonNaranja:hover {
  background-color: var(--red);
}

/*Estilos Login*/

.loginSection,
.registerSection {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--spacing48);
  margin-top: var(--spacing48);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing24);
}

.loginTitulo,
.registerTitulo {
  text-align: center;
  font-family: var(--headings-font);
  font-weight: 600;
  font-size: var(--heading2);
  /*  margin-top: var(--spacing24); */
  color: var(--black-text);
  padding-bottom: var(--spacing24);
}

.login_imagen,
.register_imagen {
  width: 10vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: var(--spacing40);
}

.login-campos,
.register-campos,
.crearLibro-campos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-campos:last-of-type {
  padding-bottom: var(--spacing32);
}

.register-campos:last-of-type {
  padding-bottom: var(--spacing32);
}

.login-campos label {
  margin-bottom: var(--spacing8);
  font-family: var(--base-font);
  font-weight: 700;
  width: 30vw;
}

.register-campos label {
  margin-bottom: var(--spacing8);
  font-family: var(--base-font);
  font-weight: 700;
  width: 30vw;
}

.login-campos input {
  font-family: var(--base-font);
  font-size: var(--text-medium);
  border: 1px solid #cdcdcd;
  border-radius: 1rem;
  padding: var(--spacing10);
  width: 30vw;
}

.register-campos input {
  font-family: var(--base-font);
  font-size: var(--text-medium);
  border: 1px solid #cdcdcd;
  border-radius: 1rem;
  padding: var(--spacing10);
  width: 30vw;
}

.btnLogin,
.btnRegister {
  width: fit-content;
  text-align: center;
  color: white;
  background-color: var(--red);
  font-family: var(--base-font);
  font-size: var(--heading6);
  font-weight: 600;
  border: none;
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  border-radius: 0.85rem;
  margin-top: var(--spacing48);
  cursor: pointer;
}

/* Estilos de CreateBook*/
.listadoLibrosSection {
  background-color: var(--aqua);
  padding-top: var(--spacing64);
  padding-bottom: var(--spacing64);
}
.btnNuevoLibro {
  display: block;
  width: fit-content;
  text-align: center;
  color: white;
  font-size: var(--heading6);
  font-weight: 700;
  background-color: var(--orange);
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  margin-bottom: var(--spacing24);
  border-radius: 0.85rem;

  transition: background-color 0.3s ease;
}

.btnNuevoLibro:hover {
  background-color: var(--red);
}

.book-list-title {
  text-align: center;
  font-family: var(--headings-font);
  font-weight: 600;
  font-size: var(--heading2);
  margin-top: var(--spacing24);
  color: var(--black-text);
  padding-bottom: var(--spacing48);
}

.book-list {
  display: flex;
  flex-direction: column;
}

.book-list-header,
.book-list-row {
  display: flex;
  flex-direction: row;
}

.book-list-header > div,
.book-list-row > div {
  padding: 10px;
  border: none;
}

.book-list-header {
  background-color: var(--dark-aqua);
  color: white;
  font-weight: bold;
  border-top-left-radius: 0.85rem;
  border-top-right-radius: 0.85rem;
}

.col-id {
  flex: 0 1 5%;
}

.col-titulo {
  font-weight: 700;
}
.col-titulo,
.col-editorial,
.col-descripcion,
.col-autor,
.col-imagen {
  flex: 0 1 15%;
}

.col-ano,
.col-buttons {
  flex: 0 1 10%;
}

.col-buttons button {
  background-color: transparent;
}

.ic--baseline-edit {
  cursor: pointer;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2301b1bf' d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75z'/%3E%3C/svg%3E");
}

.fluent--delete-32-filled {
  cursor: pointer;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ff5b74' d='M13.5 6.5V7h5v-.5a2.5 2.5 0 0 0-5 0m-2 .5v-.5a4.5 4.5 0 1 1 9 0V7H28a1 1 0 1 1 0 2h-1.508L24.6 25.568A5 5 0 0 1 19.63 30h-7.26a5 5 0 0 1-4.97-4.432L5.508 9H4a1 1 0 0 1 0-2zm2.5 6.5a1 1 0 1 0-2 0v10a1 1 0 1 0 2 0zm5-1a1 1 0 0 0-1 1v10a1 1 0 1 0 2 0v-10a1 1 0 0 0-1-1'/%3E%3C/svg%3E");
}

.book-list-row:nth-child(odd) {
  background-color: white;
}
.book-list-row:nth-child(even) {
  background-color: var(--ultralight-aqua);
}

.book-list-row:last-child {
  border-bottom-left-radius: 0.85rem;
  border-bottom-right-radius: 0.85rem;
}

.book-list-body .col-buttons {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.crearLibroSection {
  background-color: var(--aqua);
  padding-top: var(--spacing48);
  padding-bottom: var(--spacing48);
}

.crearLibroTitulo,
.listadoLibrosTitulo {
  text-align: left;
  font-family: var(--headings-font);
  font-weight: 600;
  font-size: var(--heading3);
  /*  margin-top: var(--spacing16);  */
  color: var(--black-text);
  padding-bottom: var(--spacing16);
}

.crearLibro-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: var(--spacing40);
  padding-bottom: var(--spacing40);
  /* width: 50vw; */
  margin-left: auto;
  margin-right: auto;
  background-color: var(--ultralight-aqua);
  border-radius: 0.85rem;
}

.editarLibroSection {
  background-color: var(--aqua);
  padding-top: var(--spacing48);
  padding-bottom: var(--spacing48);
}

.oculto {
  display: none;
}

.editarLibro-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: var(--spacing40);
  padding-bottom: var(--spacing40);
  /* width: 50vw; */
  margin-left: auto;
  margin-right: auto;
  background-color: var(--ultralight-aqua);
  border-radius: 0.85rem;
}

.crearLibro-campos label {
  margin-bottom: var(--spacing8);
  font-family: var(--base-font);
  font-weight: 700;
  width: 50vw;
}

.crearLibro-campos input {
  font-family: var(--base-font);
  font-size: var(--text-medium);
  border: 1px solid #cdcdcd;
  border-radius: 1rem;
  padding: var(--spacing10);
  width: 50vw;
}

.crearLibro-campos input[type="file"] {
  border: none;
  background-color: var(--ultralight-aqua);
}

.crearLibro-campos .btnUpload {
  display: block;
  width: 100%; /* Ancho completo */
  padding: var(--spacing10); /* Relleno interno */
  font-family: var(--base-font);
  font-size: 1rem; /* Tamaño de fuente */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #fff; /* Fondo blanco */
}

.botonesCrearLibro,
.botonesEditarLibro {
  display: flex;
  gap: var(--spacing24);
}

.btnCrearLibro,
.btnEditarLibro {
  display: block;
  width: fit-content;
  text-align: center;
  color: white;
  font-size: var(--heading6);
  font-weight: 700;
  background-color: var(--orange);
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  margin-bottom: var(--spacing36);
  margin-top: var(--spacing36);
  border-radius: 15px;

  transition: background-color 0.3s ease;
}

.btnCrearLibro:hover {
  background-color: var(--red);
}
.btnEditarLibro:hover {
  background-color: var(--red);
}

.btnCancelarCrearLibro,
.btnCancelarEditarLibro {
  display: block;
  width: fit-content;
  text-align: center;
  color: white;
  font-size: var(--heading6);
  font-weight: 700;
  background-color: var(--orange);
  padding: 0.625rem 1.875rem 0.625rem 1.875rem;
  margin-bottom: var(--spacing36);
  margin-top: var(--spacing36);
  border-radius: 15px;

  transition: background-color 0.3s ease;
}

.btnCancelarCrearLibro:hover {
  background-color: var(--red);
}

.btnCancelarEditarLibro:hover {
  background-color: var(--red);
}

/*MEDIA QUERIES*/

@media screen and (min-width: 1400px) {
  html {
    font-size: 18px;
  }
  .header_container2 {
    background-size: contain;
    background-repeat: repeat-x;
  }

  .footer_menu > p,
  .footer_rrss > p {
    font-size: var(--heading6);
  }

  .footer_links li a {
    font-size: var(--text-xlarge);
  }

  .footer_rrss_iconos {
    font-size: var(--heading5);
  }

  .footer > p {
    font-size: var(--text-large);
  }

  .datos_titulo {
    font-family: var(--headings-font);
    font-size: var(--heading4);
  }

  .datos_autor {
    font-size: var(--heading6);
    margin-bottom: var(--spacing16);
  }

  .datos_descripcion {
    font-size: var(--text-xlarge);
    margin-bottom: var(--spacing16);
  }

  .atributos p {
    font-size: var(--text-xlarge);
  }

  .botonDescargar {
    font-size: var(--heading6);
  }
}

@media screen and (max-width: 1200px) {
  .bannerContenido {
    padding-left: var(--spacing48);
  }
  .conoceBiblio {
    padding-top: var(--spacing48);
  }
  .contactanos {
    padding-top: var(--spacing48);
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .bibliotecaGrilla picture {
    width: 20vw;
  }

  .formatoChecks {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .formatoChecks div {
    display: flex;
    align-items: baseline;
  }

  .nivelLecturaChecks div {
    padding: var(--spacing8);
  }

  .biblioFilters p,
  .biblioFilters label,
  .biblioFilters select {
    font-size: var(--heading6);
  }

  .nivelLecturaChecks input,
  .formatoChecks input {
    height: var(--heading6);
  }

  #searchInput {
    font-size: var(--heading6);
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 8px;
  }
  .abrir_menu {
    display: block;
  }
  .cerrar_menu {
    display: block;
  }
  /*   .header_container{
    justify-content: center;
    
  }
  */
  .navbar_logo {
    width: 15vw;
  }
  .header_navbar {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 1.5rem;
    top: 0;
    right: 0;
    margin: 0;
    bottom: 0;
    background-color: var(--light-red);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
    gap: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 20;
  }

  .header_navbar.visible {
    opacity: 1;
    visibility: visible;
  }

  .navbar_button {
    margin-right: 1.5rem;
    font-size: var(--heading4);
  }

  .navbar_links {
    flex-direction: column;
    align-items: end;
  }

  .navbar_links li {
    font-size: var(--heading4);
  }

  .footer_logo img {
    width: 20vw;
  }

  /* .formato, .nivelLectura{
  
  flex-direction: column;
  align-items: start;

} */

  .bibliotecaGrilla picture {
    width: 20vw;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }

  .bannerTucan {
    max-width: 40%;
  }

  .bannerContenido {
    padding-left: var(--spacing10);
    padding-bottom: var(--spacing24);
    max-width: 60%;
  }
  .banner_title {
    margin-top: 0;
    font-size: var(--heading3);
    line-height: var(--heading2);
    margin-top: var(--spacing24);
    margin-bottom: var(--spacing10);
  }
  .banner_text {
    font-size: var(--heading6);
    line-height: var(--heading4);
  }
  .conoceTitulo {
    font-size: var(--heading3);
  }
  .librosSliderTitulo {
    align-self: center;
    text-align: center;
    /*     width:100%; */
  }
  .formBusqueda input {
    font-size: var(--heading5);
    width: 80vw;
  }

  .contactanosCampos label {
    font-size: var(--heading5);
  }

  .contactanosNomEmail {
    flex-direction: column;
    align-items: center;
  }
  .contactanosNombre,
  .contactanosEmail {
    width: 100%;
  }
  .contactanosNombre #fnombre {
    font-size: var(--heading5);
  }
  .contactanosEmail #femail {
    font-size: var(--heading5);
  }
  .contactanosMensaje #fmensaje {
    font-size: var(--heading5);
  }

  .contactanosMotivo p {
    font-size: var(--heading5);
  }

  .contactanosMotivo label {
    font-size: var(--heading5);
    text-align: center;
  }

  .styled-select select {
    font-size: var(--heading5);
  }

  .paises option {
    font-size: var(--heading5);
  }

  .contactanosPais p {
    font-size: var(--heading5);
  }

  .contactanosEnviar input {
    font-size: var(--heading5);
  }
  .contactanosEnviar input {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .bibliotecaGrilla picture {
    width: 30vw;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 7px;
  }
  .slider .next {
    right: 2rem;
  }
  .slider .prev {
    left: 2rem;
  }
  .bibliotecaGrilla picture {
    width: 50vw;
  }
}
